* {
    margin: 0;
    padding: 0;
}
P {
    color: red;
}
h1 {
    color: blue;
}
h2 {
    color: green;
}
h3 {
    color: orange;
}
p {
    color: purple;
}
button {
    background-color: yellow;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
footer {
    background-color: lightgray;
    padding: 20px;
    text-align: center;
}
footer p {
    color: black;
    font-size: 18px;
}